.table {
	margin-top:20px;
}

.profilePic{
	border-radius: 50%;
	height: 30px;
	width: 40px;
}

  .nav-set1 {
    background-color: yellow;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.html .body {
  height: 100%;
}
#information{
  height: 100%;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.css-class-add, .css-class-remove {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}



.css-class,
.css-class-add.css-class-add-active {
  width:100%;
  font-size:3em;
  height: 100%;
}

.css-class-remove.css-class-remove-active {
  font-size:1.0em;
  color: black;
}